* {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
}

@font-face {
        font-family: Adobe;
        src: url(./Source_Sans_3/SourceSans3-VariableFont_wght.ttf);
}

body {
        font-family: Adobe;
}

.header-nav {
        width: 100%;
        height: 70px;
        display: flex;
        gap: 20px;
        align-items: center;
        justify-content: center;
        background-color: black;
        color: white;
        position: fixed;
        top: 0;
        z-index: 1;
}

.header-nav p {
        font-size: 20px;
}

.header-btn {
        display: block;
        padding: 9px 16px;
        border: 2px solid #ffff;
        font-size: 15px;
        font-weight: 550;
        border-radius: 30px;
        color: #ffff;
        background-color: transparent;
}

.header-nav .header-btn:hover {
        background-color: #ffff;
        color: black;
}
.lhs-side{
        display:flex;
        align-items: center;
        gap:18px;
}
.lhs-side img {
        width: 66px;
        height: 36px;
}

.global-nav {
        width: 100%;
        display: flex;
        padding: 15px 70px 15px 70px;
        justify-content: space-between;
        align-items: center;
        background-color: #f8f8f8;
        position: fixed;
        top: 70px;
        z-index: 1;
}

.lhs-list {
        display: flex;
        font-size: 14px;
        list-style: none;
        align-items: center;
        gap: 35px;
}

.lhs-list li a {
        text-decoration: none;
        color: black;
}

.rhs-list {
        display: flex;
        list-style: none;
        align-items: center;
        gap: 10px;
}

.navigation-links {
        position: relative;
}

.bi-caret-down {
        position: absolute;
        top: 5px;
}

.authentication button {
        padding: 5px 10px;
        border: 2px solid lightgray;
        border-radius: 30px;
        background-color: transparent;
        font-weight: bold;
}

.authentication button:hover {
        background-color: #ededed;
}

.app-switcher svg {
        display: block;
}

.hero-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 130px 0px 0px 0px;
        background-color: black;
        color: white;
}

.hero-content {
        margin-left: 180px;
}

.hero-content .text {
        font-weight: 600;
        text-transform: uppercase;
}
.hero-content .text1 , .hero-content .text2{
        font-size: 18px;
}

.hero-content h1 {
        font-size: 40px;
        margin: 20px 0px 20px 0px;
}

.hero-content .text2 a {
        color: #ffff;
}

.hero-btn {
        display: inline-block;
        font-weight: 600;
        font-size: 17px;
        color: #ffff;
        padding: 12px 24px 12px;
        margin-top: 15px;
        border-radius: 30px;
}

.hero-content .bttn {
        background-color: #3b63fb;
        border: none;
}

.hero-content .bttn1 {
        background-color: transparent;
        border: 2px solid #ffff;
        margin-left: 15px;
}

.hero-content .bttn1:hover {
        color: black;
        background-color: #ffff;
}

.hero-image img {
        width: 768px;
        height: 700px;
        object-fit: cover;
        padding-left: 150px;
}

.features-list {
        display: flex;
        list-style: none;
        justify-content: center;
        align-items: center;
        gap: 30px;
        padding: 30px 0px 0px 0px;
}

.features-list li .btn {
        display: flex;
        align-items: center;
        gap: 6px;
        padding: 4px 10px;
        border-radius: 30px;
        border: 2px solid black;
        background-color: #f8f8f8;
}

.features-list li .text3 {
        font-size: 20px;
        font-weight: 500;
}

.card {
        width: 448px;
        height: 500px;
}

.card img[alt="icard1"] {
        height: 100%;
        width: 100%;
}

.features-cards .card2 img {
        border-radius: 22px;
}

.features-cards .card3 {
        background-color: #ededed;
        border-radius: 22px 22px 22px 22px;
}

.features-cards .card3 .card-part1 {
        width: 100%;
        height: 173px;
        border-radius: 22px 22px 0px 0px;
        background-image: linear-gradient(to right, #ce0362, #9e00be, #6600c5);
}

.features-cards .card3 .card-part2 {
        width: 100%;
        height: 240px;
        border-radius: 0px 0px 22px 22px;
}

.card-first-row {
        display: flex;
        gap: 30px;
        justify-content: center;
        padding: 30px 0px 40px 0px;
}

.card {
        position: relative;
        /* z-index:1; */
}

.card-content {
        display: flex;
        flex-direction: column;
        gap: 12px;
        position: absolute;
        top: 30px;
        left: 20px;
        color: #ffff;
}

.card h2 {
        font-size: 24px;
}

.card .cardbody-text1 {
        font-size: 18px;
}

.card .cardbody-text2 a {
        text-decoration: none;
        color: #ffff;
        font-size: 14px;
        font-weight: 600;
}

.card .cardbody-text2 a:hover {
        text-decoration: underline;
}

.card-part1 {
        position: relative;
}

.upper-content {
        display: flex;
        flex-direction: column;
        gap: 10px;
        position: absolute;
        color: #ffff;
        top: 30px;
        left: 20px;
}

.upper-content h2 {
        font-size: 24px;
}

.upper-content .anch a {
        text-decoration: none;
        color: #ffff;
        font-size: 14px;
}

.upper-content .anch a:hover {
        text-decoration: underline;
}

.card-part2 {
        position: relative;
        /* background-color: #ededed ; */
}

.lower-content {
        display: flex;
        flex-direction: column;
        gap: 10px;
        position: absolute;
        top: 30px;
        left: 20px;
}

.lower-content .anchh a {
        text-decoration: none;
        color: black;
        font-weight: 550;
        font-size: 14px;
}

.lower-content .anchh a:hover {
        text-decoration: underline;
}

.card-second-row {
        display: flex;
        gap: 30px;
        justify-content: center;
}

.cardd {
        width: 448.28px;
        height: 554px;
        position: relative;
        background-color: black;
        border-radius: 22px;
}

.card-1 img {
        border-radius: 22px;
        ;
}

img[alt="icard2"] {
        width: 100%;
        height: 100%;
}

.cardd-content {
        display: flex;
        flex-direction: column;
        gap: 12px;
        position: absolute;
        top: 30px;
        left: 20px;
        color: #ffff;
}

.cardd p {
        font-size: 18px;
}

.card-second-row .card-1 {
        background-color: black;
        color: #ffff;
}

.cardd a {
        text-decoration: none;
        color: #ffff;
        font-size: 14px;
}

.cardd a:hover {
        text-decoration: underline;
}

.cardd .upper-cardd {
        width: 100%;
        height: 78.5px;
        background-color: black;
        border-radius: 22px 22px 0px 0px;
        padding: 24px;
}

.cardd .upper-cardd h2 {
        font-size: 18px;
        color: #ffff;
}

.cardd .lower-cardd {
        width: 100%;
        height: 475px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 24px;
        background-color: #ededed;
        color: #2c2c2c;
        border-radius: 0px 0px 22px 22px;
}

.cardd .lower-cardd h3 {
        font-size: 18px;
}

.cardd .lower-cardd .text-content {
        font-size: 16px;
}

.cardd .lower-cardd .text-anch {
        text-decoration: none;
        color: black;
}

.cardd .lower-cardd h3 {
        font-weight: 550;
}

.cardd .lower-cardd .text-anch:hover {
        text-decoration: underline;
}

.body-para a {
        display: inline-block;
        color: blue;
}

.body-para1 {
        margin: 30px 0px 30px 0px;
        text-align: center;
}

.body-para2 {
        margin: 0px 0px 30px 0px;
        text-align: center;
}

.footer {
        background-color: #fafafa;
        padding: 30px;
}

.footer-sections {
        display: flex;
        gap: 100px;
}

.footer-sections .footer-column {
        list-style: none;
}

.footer-sections .footer-column li a {
        display: block;
        text-decoration: none;
        color: #292929;
        font-size: 12px;
        font-weight: 500;
        margin-bottom: 15px;
}

.footer-sections .footer-column li a:hover {
        color: blue;
}

.footer-sections .footer-column .footer-heading {
        font-size: 14px;
        font-weight: 550;
        color: #505050;
        margin-bottom: 20px;
}

.footer-nav .footer-navlist {
        display: flex;
        gap: 40px;
        justify-content: center;
        margin: 10px 0px 10px 0px;
}

.footer-navlist .footer-navlist1 {
        display: flex;
        gap: 15px;
        align-items: center;
}

.footer-navlist1 img {
        display: inline-block;
        width: 25px;
        height: 24px;
}

.footer-navlist2 {
        display: flex;
        gap: 15px;
        align-items: center;
}

.footer-navlist2 img {
        display: inline-block;
        width: 25px;
        height: 24px;
}

.footer-navlist3 {
        display: flex;
        gap: 15px;
        align-items: center;
}

.footer-navlist3 img {
        display: inline-block;
        width: 25px;
        height: 24px;
}

.footer-navlist4 {
        display: flex;
        gap: 15px;
        align-items: center;
}

.footer-navlist4 img {
        display: inline-block;
        width: 25px;
        height: 24px;
}

.footer-navlist .footer-text {
        font-size: 14px;
        color: #505050;
}

.footer-navlist p {
        font-size: 12px;
}

.footer-navlist p:hover {
        color: blue;
}

.footer-options {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 15px 0px 15px 0px;
}

.footerOptions-lhs {
        display: flex;
        gap: 20px;
        align-items: center;
}

.footerOptions-lhs .svg-options {
        display: flex;
        list-style: none;
        gap: 10px;
}

.footerOptions-lhs svg {
        width: 60px;

}

.footerOptions-lhs a {
        color: black;
}

.footerOptions-rhs {
        font-size: 12px;
}

.footerOptions-rhs a {
        text-decoration: none;
        color: black;
}

.footerOptions-rhs a:hover {
        color: blue;
}